<p>
  <label>btc: </label>{{trader.btc}}
  <label>eth: </label>{{trader.eth}}
   <label>netProfit: </label>{{trader.netProfit}}
    <label>sellsAtLoss: </label>{{trader.sellsAtLoss}}
     <label>netProfitPercent: </label>{{trader.netProfitPercent}}
      <label>numberOfTrades: </label>{{trader.numberOfTrades}}
      

</p>
<mat-card>
 <img src="card-image.png" class="md-card-image" alt="image caption">
 <mat-card-content>
   <h2>Card headline</h2>
   <p>Card content</p>
 </mat-card-content>
 <mat-card-footer>
   Card footer
 </mat-card-footer>
</mat-card>