
<mat-card>
 <mat-card-content>
   <h2>Trader 1</h2>

   <table id="table1" style="width: 100%; ">
   <tr>
     <td>Amount of BTC:</td><td><b>{{trader.btc}}</b></td>
     <td>Net Profit in BTC: </td><td><b>{{trader.netProfit}}</b></td>
     <td>Number of trades:</td><td><b>{{trader.numberOfTrades}}</b></td>
   </tr>
   <tr>
     <td>Amount of ETH: </td><td><b>{{trader.btc}}</b>
      <td>Net profit in Percent: </td><td><b>{{trader.netProfitPercent}}</b></td>
     <td>Number of sells at loss:</td><td><b>{{trader.sellsAtLoss}}</b></td>
   </tr>
</table>

 </mat-card-content>
 <mat-card-footer>
 </mat-card-footer>
</mat-card>